<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'global/partials/head.html' %}
        <title>{% block title %}{% endblock title %} | ProjIFRN</title>
    </head>

    <body>
        {% block header %}
            {% include 'global/partials/header.html' %}
        {% endblock header %}


        {% block main %}{% endblock main %}

    </body>
    <script>

        function toggleDropdown() {
            var dropdownContent = document.getElementById("myDropdown");
            dropdownContent.classList.toggle("show");
          }
          
    </script>
</html>