{% extends 'global/base.html' %}

{% block title %}Register Project{% endblock title %}

{% block main %}

    <main>
        <div class="form-project">
            <h1 class="title flex center-h"> CADASTRAR PROJETO</h1>
            <form action="{% url 'project:create' %}" id="myForm" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="step active" id="step1">

                    <div class="logo-title flex">
                        <div class="logo-project">
                            <label for="id_logo">
                                <div class="logo-text">Logo</div> 
                                    
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                                <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
                                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                                </svg>
                            </label>
                            {{form.logo}}                            
                        </div>
    
                        <div class="title-input flex col">
                            <label for="title">Título</label>
                            <input type="text" name="title" id="title" placeholder="Digite o título do projeto">
                        </div>
                    </div>

                    <div class="description flex col">
                        <label for="description">Descrição</label>
                        <textarea name="description" id="description" placeholder="Escreva a descrição do projeto" cols="30" rows="10" required ></textarea>
                    </div>

                    <div class="keyword">
                        <label >Palavras-chaves</label>
                        <div id="keywords" class="flex col">
                            <input type="text" name="keyword" placeholder="Informe a palavra-chave" class="keyword-input" required >
                        </div>
                        
                        <div class="button-add-keyword-plus" >
                            <svg xmlns="http://www.w3.org/2000/svg" onclick="addNewInput('keywords')" width="30" height="30" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </div>
                        
                    
                    </div>

                    <div class="category-input flex col">
                        <label for="">Categoria</label>
                        {{form.category}}
                    </div>

                    <div class="butto-next flex">
                        <div></div>
                        <button type="button" onclick="nextStep(2)">Próxima</button>
                    </div>
                </div>
        
                <div class="step" id="step2">

                    <div class="users-input flex col">
                        <label>Nome do membro</label>
                        {{form.user}}
                    </div>

                    <div class="functions-input flex col">
                        <label>Função</label>
                        <input type="text" id="nameFunc" placeholder="Informe a função do membro" >

                    </div>

                    <div class="butto-add">
                        <button type="button" onclick="addNewUser()" >Adicionar</button>
                    </div>
                    
                    <div id="users" >

                    </div>
               
                    <div id="inputs-hidden"></div>

                    <div class="butto-next flex">
                        <button type="button" onclick="prevStep(1)">Voltar</button>
                    
                        <button type="button" onclick="nextStep(3)">Próxima</button>
                    </div>

                </div>
        
                <div class="step" id="step3">
                    <label for="">Conteúdo</label>
                    {{form.content}}
                    <div class="butto-next flex">
                        <button type="button" onclick="prevStep(2)">Voltar</button>
                        <button>Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
    </main>

{% endblock main %}