<section>
    <h1 class="title">PROJETOS </h1>
    <div class="projects flex row">
        <div class="card flex row">
            <img src="imgs/img-default.png" alt="imagem" class="img-project">
            <div class="infos flex col">
                <a href="detalhes_projetos.html"><h1 class="titulo-projeto">Lorem ipsum </h1></a>
                <p class="description-project">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <div class="orientador flex"> <span class="material-symbols-outlined"> person </span>
                    <p> Hortevan Marrocos Frutuoso </p>
                </div>
                <div class="tags">
                    <a class="tag" href="#">Educação</a>
                    <a class="tag" href="#">2023</a>

                </div>
            </div>
        </div>
    </div>
</section>