<section>
    <div class="flex sb center-v">
        <h1 class="title" > {{value}} </h1>
        <a href="#">Ver mais</a>
    </div>            
    <div class="projects flex row">
        {% if projects %}
            {% for project in  projects %}
                {% if project.status == key %}
                    {% include 'project/partials/project.html' %}
                {% endif %}    
            {% endfor %}
        {% else %}
         Sem projetos cadastrados
        {% endif %}
    </div>
</section>