{% extends 'global/base.html' %}

{% block title %}Home{% endblock title %}

{% block main %}

<main>
    
<section>
    <div class="flex sb center-v">
        <h1 class="title" > EM ANDAMENTO </h1>
        <a href="#">Ver mais</a>
    </div>
    
    <div class="projects flex row">
    
    {% for project in em_andamentos %}
    
        {% include 'proj/partials/project.html' %}
    
    {% endfor %}
        
    </div>
    
</section>

<section>
    <div class="flex sb center-v">
        <h1 class="title" > PAUSADOS </h1>
        <a href="#">Ver mais</a>
    </div>
    
    <div class="projects flex row">
    
    {% for project in pausados %}
    
        {% include 'proj/partials/project.html' %}
    
    {% endfor %}
        
    </div>
    
</section>

<section>
    <div class="flex sb center-v">
        <h1 class="title" > FINALIZADOS </h1>
        <a href="#">Ver mais</a>
    </div>
    
    <div class="projects flex row">
    
    {% for project in finalizados %}
    
        {% include 'proj/partials/project.html' %}
    
    {% endfor %}
        
    </div>
    
</section>

</main>

{% endblock main %}