@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600;700&display=swap');

:root{
  --AzulAco :#777E90;
  --AzulArdosia:#4A5568;
  --AzulEletrico: #408CFF;
  --AzulMarinhoEscuro:#131740;
  --BrancoFosco:#F5F7FA;
  --CinzaAzulado: #93989A;
  --GradientVerde:linear-gradient(93deg, #2AF598 -29.31%, #08AEEA 106.47%);
  --GradientVermelho: linear-gradient(93deg, #FF512F 3.55%, #DD2476 97.46%); ;
  --GradienteRoxo:linear-gradient(93deg, #FE6AB7 3.55%, #9B4AEB 47.23%, #3931F9 97.46%);
  --NeutrosClarosBranco:#FFFFFF;
  --VerdeEsmeralda:#00BF63;  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--BrancoFosco);
  font-family: 'Plus Jakarta Sans', sans-serif!important;
  color: var(--Azul-Marinho-Escuro);
}