<main>
    <div class="form-project">
        <h1 class="title flex center-h"> CADASTRAR PROJETO</h1>
        <form action="{% url 'proj:create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}

                <div class="projec-input">
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    {{field}}
                </div>
                
            {% endfor %}

            <button>Cadastrar</button>
        </form>
    </div>
</main>