

    <div class="card flex row">
        <a href="#">
            <img src="{{project.logo.url}}" alt="imagem" class="img-project">
        </a>

        <div class="infos flex col">

            <a href="#"><h1 class="titulo-projeto">{{project.title}}</h1></a>
            
            <p class="description-project">{{project.description}}</p>
            
            <div class="orientador flex"> <span class="material-symbols-outlined"> person </span>
                <p> Hortevan Marrocos Frutuoso </p>
            </div>
            
            <div class="tags">
                <a class="tag" href="#">{{project.category.name}}</a>
                <a class="tag" href="#">{{project.date_create}}</a>

            </div>
        
        </div>
    </div>

    