

    <div class="card flex row projectRow--item">
        <a href="{% url 'project:detail' i.project.id %}">
            <img src="{{i.project.logo.url}}" alt="imagem" class="img-project">
        </a>

        <div class="infos flex col">

            <a href="{% url 'project:detail' i.project.id %}"><h1 class="titulo-projeto">{{project.title}}</h1></a>
            
            <p class="description-project">{{i.project.description}}</p>
            
            <div class="orientador flex"> <span class="material-symbols-outlined"> person </span>
                <p> Hortevan Marrocos Frutuoso </p>
            </div>
            
            <div class="tags">
                <a class="tag" href="#">{{i.project.category.name}}</a>
                <a class="tag" href="#">{{i.project.date_create}}</a>

            </div>
        
        </div>
    </div>

    