{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'global/css/cardStyles.css' %}">

<link rel="stylesheet" href="{% static 'global/css/detailsProjectStyles.css' %}">
<link rel="stylesheet" href="{% static 'global/css/dropdownStyles.css' %}">
<link rel="stylesheet" href="{% static 'global/css/formStepStyles.css' %}">

<link rel="stylesheet" href="{% static 'global/css/formStyles.css' %}">
<link rel="stylesheet" href="{% static 'global/css/globalStyles.css' %}">
<link rel="stylesheet" href="{% static 'global/css/headerStyles.css' %}">

<link rel="stylesheet" href="{% static 'global/css/loginStyles.css' %}">
<link rel="stylesheet" href="{% static 'global/css/profileStyles.css' %}">
<link rel="stylesheet" href="{% static 'global/css/projectStyles.css' %}">

<link rel="stylesheet" href="{% static 'global/css/scrollStyles.css' %}">
<link rel="stylesheet" href="{% static 'global/css/seachFilterStyles.css' %}">
<link rel="stylesheet" href="{% static 'global/css/seachStyles.css' %}">



