{% load static %}

{% if request.user.is_authenticated %}
    <a href="{% url 'users:profile' request.user.id%}">
        <img src="{{request.user.userprofile.photo.url}}" alt="user photo" class="user">
    </a>
{% else %}
    <a href="#"><img src="{% static 'global/imgs/User-60.png' %}" alt="User" class="user"></a>
{% endif %}

    <div class="dropdown">
        <button onclick="toggleDropdown()" class="dropbtn">⯆</button>
        <div id="myDropdown" class="dropdown-content">

        {% if request.user.is_authenticated %}
            <a href="{% url 'project:register' %}">Criar Projeto</a>
            <a href="{% url 'users:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'users:login' %}">Login</a>
            <a href="#">Criar Conta</a>
        {% endif %}

        </div>

    </div>