<form action="">
    <input type="text" class="pesquisa"
        placeholder="Pesquise por projetos, palavras-chave, orientadores...">
    <button class="filter-btn" type="submit" > <span class="material-symbols-outlined">filter_list</span></button>
    <button class="search-btn" type="submit" name="search" ><span
            class="material-symbols-outlined">search</span></button>
    <div id="filters" class="filters">
        <h1> Filtros </h1>

        <section class="flex">
            <div>
                <h2> Ano</h2>
                <input type="radio" name="choice" value="2021" id="2021" />
                <label for="2021">2021</label><br>
                <input type="radio" name="choice" value="2022" id="2022" />
                <label for="2022">2022</label><br>
                <input type="radio" name="choice" value="2023" id="2023" />
                <label for="2023">2023</label><br>
            </div>
            <div>
                <h2 > Categorias</h2>
                <input type="radio" name="choice" value="saude" id="saude" />
                <label for="saude">Saúde</label><br>
                <input type="radio" name="choice" value="educacao" id="educacao" />
                <label for="educacao">Educação</label><br>
                <input type="radio" name="choice" value="tecnologia" id="tecnologia" />
                <label for="tecnologia">Tecnologia</label><br>
            </div>
        </section>
    </div>
</form>